[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
pysixel = "*"

[dev-packages]
pytest = "*"
setuptools = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
